# Ignore node_modules in both frontend and backend
node_modules/

# Ignore logs
*.log

# Ignore build and temp directories
/dist/
/build/
/tmp/
/*.bak

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other irrelevant files
*.zip
*.tar
*.tar.gz
